.signin
{
    color: hsl(240, 66%, 29%);
    text-align: center;
    font-weight: bolder;

}

#e::first-letter
{
    font-style: italic;
}
#create{
    cursor: pointer;
}
a:visited{
    color: black;
}
a:link{
    color: blue;
}
a:active