body
{
    margin: 0rem;
    padding: 0rem;
    background-image: url('batman.jpg');
    background-size: cover ;
    background-position: center;
    color: aliceblue;
    position: relative;
    
   
}
#netflix
{
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: inherit;
    
}
.layout
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
    width: 20rem; /* Portrait width */
    height: 40rem; /* Portrait height (taller than width) */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.7);
    margin-top: 5rem;
    position: absolute;
    left: 15rem;
}
    

    
    

#signup
{
    position: relative;
    right: 12rem;

}
#email
{
margin-bottom: 1rem;


}

#email input
{
    width: 20rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.5);

}

#password input
{

    width: 20rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.5);

}

#password
{
    margin-bottom: 1rem;
 
}

#signButton button
{
   background-color: red;
    color: aliceblue;
    width: 20rem;
    height: 3rem;


}

#or
{
    color: grey;
}



#code button
{
  
      
    background-color: hsla(0, 0%, 100%, 0.5); /
    
    width: 20rem;
    height: 3rem;
    color: aliceblue;
}

#forget a
{
   
    color: aliceblue;
}


#n a
{
    margin-top: 1rem;
    color: aliceblue;
    position: relative;
    right: 10rem;
    text-decoration: none;
    opacity: 0.7;
}
    
  


#forget
{
    margin-top: 1rem;
}

#n
{
    margin-top: 1rem;
    
   
}
#me{
    margin-top: 1rem;
    position: relative;
    right: 10rem;
}

#now
{

    position: relative;
    bottom:  2.5rem;
    right: 3.5em;
}
